{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item, render_breadcrumb_item %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('list_participants', 'Participants') }}
            {{ render_breadcrumb_item('randomize_participant', 'Randomize') }}

        </ol>
    </nav>

    <h2>Randomize a new participant</h2>
    <form method="post" action="{{ url_for('randomize_participant') }}">
        {{ participant_form.csrf_token }}
        {{ render_form(participant_form, button_map={'submit': 'primary', 'cancel': 'secondary'}) }}
    </form>

{% endblock %}
