div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.3em;
}

div.dataTables_wrapper div.dataTables_length {
  padding-top: 0.3em;
}

div.dataTables_wrapper div.dataTables_filter {
  padding-top: 0.3em;
}